body {
    margin: 0;
    background-color: #2e2e2e;
}

.main {
    flex: 85%;
    background-color: #2e2e2e;
    padding-left: 16%;
    padding-right: 1%;
    padding-top: 1%;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-content {
    background-color: #4e1e1e;
    color: white;
    padding: 10px;
}

h2 {
    color: burlywood;
}

p {
    color: antiquewhite;
}



.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .nav li a {
        font-size: small;
    }

    .main-container {
        flex-direction: column;
    }
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 15%;
    min-height: 100%;
    flex: 15%;
    background-color: #4e1e1e;
    position: fixed;
    overflow: auto;
}

.nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: large
}

.nav li a.active {
    background-color: #4e4e4e;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: burlywood;
    color: black;
}

.nav li img.logo {
    max-width: 50%;
    max-height: 50%;
    display: block;
    padding-left: 23%;
}

hr {
    border-top: 1px solid burlywood;
}