body {
    margin: 0;
    background-color: #2e2e2e;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #4e1e1e;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: large;
}

.nav li a.active {
    background-color: #4e4e4e;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: burlywood;
    color: black;
}

.nav li img.logo {
    max-width: 50%;
    max-height: 50%;
    display: block;
    padding-left: 23%;
}

.nav hr {
    border-top: 1px solid burlywood;
}